@font-face {
      font-family: "ByteBounce";
      src: url("./fonts/ByteBounce.woff2") format("woff2");
    }


*{
    margin: 0px;
    font-family: 'ByteBounce';
    font-size: 106%;
}



.background{
    height: 100vh;
    width: 100vw;
    background-image: url('train.gif');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    overflow: hidden;
}

.background .master-container{
    
    
    width: 100%;
    margin: 10px 0px;
    font-size: 170%;
    display: grid;
    background-color: lightpink;
    
   
    grid-template-columns: repeat(10, 1fr) ;


    
   
    
}



ul{
    display: flex;
    gap:20px;
    list-style: none;
    
   

}    

a{
    text-decoration: none;
    color: rgb(93, 60, 60);
}


    
   

 
    
}

a:hover{
    opacity: 0.3;
}



.search-container {
  /* Positions the bar in the middle of the screen. */
  /* Adjust top/left percentages as needed! */
  position: absolute;
  top: 70%; 
  left: 50%;
  justify-self: center;
  z-index: 10; /* Ensures it's on top of the background */
  transform: translate(-50%, -80%); /* Centers the container */
  opacity: 0.5;
  
}

/* Style for the search input field */
#search-input {
  font-family: 'ByteBounce', cursive; /* The pixelated font */
  background-color: white;
    color: rgb(54 53 109); /* Light text color */
  /* border: 2px solid #22223b; Darker border */
  
  width: 300px; /* Adjust width as you like */
  /* outline: none; Removes the default browser outline */
 height: 25px;
  
 
  /* Creates the "pixelated" shadow effect */
  /* box-shadow: 
    4px 4px 0px #22223b; A solid, blocky shadow */
}

/* Style for the placeholder text */
#search-input::placeholder {
  color: #9a8c98; /* Muted placeholder color */
  opacity: 1; 
}



.master-container div{
    width: 105px;
    overflow: hidden;
    margin: 0px 5px;

}



@media screen and (max-width:800px) {
    .background .master-container{
        grid-template-columns: repeat(3, 1fr);
    }
}